@font-face {
	font-family: DINOT;
	src: url(fonts/DINOT.OTF) format("opentype")
}
@font-face {
	font-family: DINOTBold;
	font-weight: 700;
	src: url(fonts/DINOT-BOLD.OTF) format("opentype")
}
@font-face {
	font-family: DINOTLight;
	font-weight:light;
	src: url(fonts/DINOT-LIGHT.OTF) format("opentype")
}
@font-face {
	font-family: DINOTMedium;
	font-weight: medium;
	src: url(fonts/DINOT-MEDIUM.OTF) format("opentype")
}

body {
	background: #455A64;
	color: white;
	font-family: dinot;
}

h1 {
	text-align: center;
	position: relative;
	top: 25%;
	font-size: 202px;
	font-weight: 100;
	text-shadow: 0 5px 20px rgba(0,0,0,.2);
}
p.sub {
	text-align: center;
	position: relative;
	top: 10%;
	text-shadow: 0 5px 10px rgba(0,0,0,.2);
	color: #b2b3b7;
}

a.btn {
	background: rgba(0,0,0,.1);
	padding: 7px 13px;
	border-radius: 50%;
	transition: .2s background;
	cursor: pointer;
	color: white;
	text-decoration: none;
	margin-right: 10px;
}
a.btn:hover {
	background: rgba(0,0,0,.2);
}

.links {
	position: fixed;
	z-index: 5;
	top: 20px;
	margin-left: 10px;
	width: 100%;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 99; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
	transition: .5s opacity, .5s display;
	color: black;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
	top: 25%;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
	border-radius: 5px;
}

/* Add Animation */
@keyframes animatetop {
    from {top: 20%; opacity: 0}
    to {top: 25%; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    color: rgba(0,0,0,.75);
	border-bottom: 1px solid rgba(0,0,0,.2);
}
h2 {
	margin: 1% 0;
	font-weight: 100;
	font-family: dinot;
	font-size: 22px;
}
/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 15px 16px;
    color: white;
	border-top: 1px solid rgba(0,0,0,.2);
}
.modal-footer p {
	color: black;
	font-family: dinotlight;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	font-size: 14px;
	font-style: italic;
}
.modal-footer a.button {
	text-align: right;
	float: right;
	display: inline-block;
	padding: 4px 12px;
	color: black;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;
	transition: .1s background;
	cursor: pointer;
	top: -7px;
	position: relative;
}
.modal-footer a.button:hover {
	background: #E6E6E6;
}
.modal-footer a.button:active {
	box-shadow: 0 0 10px rgba(0,0,0,.2) inset;
}

.textinputs {
	position: absolute;
	right: 1%;
	top: 1%;
}
.textinputs input {
	margin: 2% 0;
}
input[type=text] {
	border-radius: 4px;
	width: 100%;
	padding: 2% 4%;
	border: 1px solid rgba(0,0,0,.2);
	outline: none;
	box-shadow: 0 1px 5px rgba(0,0,0,.1) inset;
	transition: 1s box-shadow;
}
input[type=text]:focus {
	box-shadow: 0 0 10px rgba(15,227,255,.7);
}
label {
	text-shadow: 0 5px 10px rgba(0,0,0,.2);
}
button {
	padding: 4px 12px;
	color: black;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;
	transition: .1s background;
	cursor: pointer;
	outline: none;
	background: white;
	width: 100%;
}
button:hover {
	background: #E6E6E6;
}
button:active {
	box-shadow: 0 0 10px rgba(0,0,0,.2) inset;
}